*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      background-color: #f1f5f8;
}


nav{
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    width:30%;
    height: 100vh;
    background-color: white;
    position: relative;
    transform: translateX(-100%);
    transition: all 0.3s linear;
   }

 .nav-bar.active{
    transform: translateX(0);
   }

   .fa-xmark{
    position: absolute;
    top: 10%;
    right: 5%;
   }